AccessModifierOffset: 4
AlignConsecutiveAssignments: true
AlignConsecutiveBitfields: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
AlignEscapedNewlines: ENAS_LEFT
AlignOperands: OAS_AlignAfterOperator
AlignTrailingComments: true
AllowAllAgrumentsOnNextLine: false
AllowAllConstructorInitializersOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: SBS_Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: SFS_None
AllowShortIfStatementsOnASingleLine: SIS_Never
AllowShortLambdasOnASingleLine: SLS_None
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: RTBS_All
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations: BTDS_Yes
BinPackArguments: false
BinPackParameters: false
BitFieldColonSpacing: BFCS_After
BraceWrapping: BS_Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: BWACS_Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: true
  BeforeWhile: true
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
BreakBeforeBinaryOperators: BOS_NonAssignment
BreakBeforeBracers: BS_Allman
BreakBeforeConceptDeclarations: true
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BCIS_BeforeComma
BreakInheritanceList: BILS_BeforeComma
BreakStringLiterals: true
ColumnLimit: 0
#CommentPragmas: ""
CompactNamespaces: false
ConstructorInitializerAllOnOneLineOrOnePerLine: false
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
Cpp11BracedListStyle: true # TODO
#DeriveLineEnding: false
#DerivePointerAlignment: false
FixNamespaceComments: false
IncludeBlocks: IBS_Regoup
IncludeCategories:
  - Regex:           '^<[^/]*'    #include <system_include>
    SortPriority:    1
  - Regex:           '<(.*/.*)*>' #include <library/include/path>
    SortPriority:    2
  - Regex:           '^".*"'      #include "project_include"
    SortPriority:    3
  - Regex:           '.*'         #maybe work on your regex you sucker
    SortPriority:    4
IndentCaseBlocks: true
IndentCaseBLabels: true
IndentExternBlock: IEBS_AfterExternBlock
IndentGotoLables: false
IndentPPDirectives: PPDIS_AfterHash
IndentPragmas: false # follow IndentPPDirectives' setting
IndentRequires: false
IndentWidth: 4
IndentWrappedFunctionNames: false
InsertTrailingCommas: TCS_Wrapped
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 2
NamespaceIndentation: NT_All
PointerAlignment: PAS_Left
ReflowComments: true
SortIncludes: true
SortUsingDeclarations: true
SpaceAfterCStyleCast: true
SpaceAfterLogicalNot: true
SpaceAfterTemplateKeyword: false
SpaceAroundPointerQualifiers: SAPQ_Before
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: false
SpaceBeforeInheritanceColon: false
SpaceBeforeParens: SBPO_ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets: true
SpaceInEmptyBlock: false
SpaceInEmptyParentheses: true
SpacesBeforeTrailingComments: 2
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInConditionalStatement: false
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
TabWidth: 4
UseCRLF: false
UseTab: UT_Never
